:root {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.25em;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #FE5F55;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

/* Navigation */
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;

}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  display: flex;
  align-items: center;
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  padding-left: 0.8rem;

}



.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}



.fas {
  color: #FE5F55;


}

.fa-primary {
  color: #F0B67F;
}

.fa-secondary {
  color: #FE5F55;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  /* padding-right: 3.5em; */
  left: -999px;
  transition: var(--transition-speed);
}



.navbar:hover .logo svg {
  /* display: none; */
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #EEEEEE;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

/* Page Content */
.heading1 {
  margin-top: auto;
  font-size: 3.5em;
  font-weight: 400;
}

.heading2 {
  margin-top: auto;
  font-size: 2em;
  font-weight: 300;
}

.heading3 {
  margin-top: auto;
  font-size: 1.5em;
  font-weight: 300;
}

.heading4 {
  margin-top: auto;
  font-size: 2.5em;
  font-weight: 400;

  cursor: pointer;
  width: auto;
}

.border_bottom {
  border-bottom: 10px solid #FE5F55;
  width: 3.5em;
  margin: 0.1em;
}

.heading5 {
  margin-top: 0;
  font-size: 3.5em;
  font-weight: 400;
}

.heading6 {
  margin-top: 0;
  font-size: 3em;
  font-weight: 300;
}

.rule {
  background: #FE5F55;
  width: 14.25em;
  align-items: left;
  margin-top: -3.75em;
  margin-left: 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* Columns */
.grid {
  width: 100%;
  max-width: auto;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;


}



.col-33 {
  width: 33.3%;
  float: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.col-50 {
  width: 30%;
  float: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.col-66 {
  width: 66.7%;
  float: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.gutter {
  margin-left: 20px;
  margin-right: 20px;
}

@media all and (max-width:600px) {

  .col-50,
  .col-33 {
    width: 100%;
    float: none;
  }
}

.block {
  display: block;
}

.highlight {
  font-weight: 400;
  color: #FE5F55;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn {
  color: #FE5F55;
  background: transparent;
  border: 2px solid #FE5F55;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #FE5F55;
  color: white;
}

.inline {
  display: inline;
}

.grid1 {
  width: 100%;
  max-width: 100%;
  margin: 1em;

  display: flex;

  justify-content: space-around;
}

.alert {
  text-align: center;
  padding: 10px;
  background: #FE5F55;
  color: #fff;
  margin-bottom: 10px;
  display: none;
}